@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&display=swap');

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url(1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    
}

li , a ,button{
    font-family: "Edu TAS Beginner" ,sans-serif,'Times New Roman', Times, serif ;
    font-weight: 500;
    font-size: 19px;
    color: aliceblue;
    text-decoration: none;
    border: 0.5px;
    border-radius: 50px;
}
header{
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px 10s;
background-color: rgba(128, 128, 128, 0.425);
}
.logo{
    cursor: pointer;
}
.nav__links{
    list-style: none;
}
.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a{
    transition: 0.3s ease;

}
.nav__links li a:hover{
    transition: 0.5s ease;
    color: aqua;
    background-color: rgb(83, 83, 83);
    padding: 10px;
}
.button1{
    padding: 9px 10px;
    background-color: rgb(0, 162, 255);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s ease;
}
.button1:hover{
    background-color: orangered;
    color: aliceblue;
    padding: 5px 5px;
}
button{
    background-color: rgb(255, 81, 0);
    cursor: pointer;
    transition: 0.5s ease;
    padding-inline-end: 5px;
    border: none;
    outline: none;
    
}
button:hover{
    background-color: green;
    transform: scale(1.2);
}
.menu{
    padding: 0 10px 30px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));    
}
.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 10px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
   
}
.items h4{
    font-family: "Edu TAS Beginner" ,sans-serif,'Times New Roman', Times, serif ;
    color: white;
    font-size: 20px;
    text-shadow:  2px 2px orangered;
  

}
.items img{
    width: 300px;
    height: 180px;
    transition: ease 0.5s;

}
.items img:hover{
    transform: scale(1.2);
}
.heading{
    font-family: "Edu TAS Beginner" ,sans-serif,'Times New Roman', Times, serif ;
    text-shadow: 2px white;
}
.hot{
    align-items: center;
}
.hot img{
    align-items: center;
    height: 150px;
    width: 300px;
    margin-left: 35%;
 
}
.item h4{
    font-family: "Edu TAS Beginner" ,sans-serif,'Times New Roman', Times, serif ;
    color: white;
    display: inline;
    

}
@media screen and (max-width: 1000px) { 
    .items{
        grid-template-columns: repeat(2 ,1fr);
    }
}
@media screen and (max-width: 500px) { 
    .items{
        grid-template-columns: repeat(1 ,1fr);
    }
@media screen and (max-width: 300px) { 
        .items{
            grid-template-columns: repeat(0 ,1fr);
        }
    }
}

footer{
    background-color: rgba(0, 0, 0, 0.589);
    
    color: white;
    padding: 0;
    margin: 0;
    padding-bottom: 1%;
}
footer img{
    width: 30px;
    height: 30px;
}
footer button1{
    align-content:right;
    align-items: right;
    text-align: right;
    padding: 9px 9px;
    background-color: rgb(0, 162, 255);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s ease;
}